.container .form {
  margin: 0 auto;
  width: 300px;
  padding: 20px;
  background: #f2f2f2;
  border-radius: 10px;
  box-shadow: 0 0 10px #ccc;
}

.container > h1 {
  font-family: 云峰飞云体, var(--font-body);
  text-align: center;
  margin-top: 200px;
  margin-bottom: 40px;
}
